@using CarDealership.Models.GeneralManager;
@model GeneralManagerCreateViewModel;

<div class="row">
	<div class="col-md-8 mx-auto rounded border p-3">
		<h2 class="text-center mb-5">New General Manager</h2>

		<form method="post" enctype="multipart/form-data">

			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">First Name</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="FirstName" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">Last Name</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="LastName" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">Email</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Email" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">Phone Number</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PhoneNumber" />
					<span asp-validation-for="PhoneNumber" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">Hire Date</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="HireDate" />
					<span asp-validation-for="HireDate" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3>">
				<label class="col-sm-4 col-form-label">Salary</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Salary" />
					<span asp-validation-for="Salary" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Dealership</label>
				<div class="col-sm-8">
					<select class="form-control" asp-for="@Model.DealershipId">
						<option value="">Choose Dealership</option>
						@foreach (var brand in Model.Dealerships)
						{
							<option value="@brand.DealershipId">@brand.Name</option>
						}
					</select>
				</div>
			</div>

			<div class="row d-flex justify-content-center gap-3">
				<button type="submit" class="btn btn-primary w-50">Publish</button>
				<a class="btn btn-outline-primary w-50" asp-controller="GeneralManager" asp-action="Index" role="button">
					Cancel
				</a>
			</div>


		</form>
	</div>
</div>
