@{
    ViewData["Title"] = "Home";
}

<div class="hero" id="home">
    <h1>Welcome to the Car Library</h1>
    <p>
        Explore an extensive collection of cars tailored for every driving
        experience. From luxury sedans to powerful sports cars, find your dream
        vehicle here.
    </p>
</div>

<div class="featured-cars">
    <h2>Featured Cars</h2>
    <div class="featured-container">
        <div class="large-card">
            <img
                src="https://assets.newatlas.com/dims4/default/e3fdcbf/2147483647/strip/true/crop/1936x1290+961+318/resize/2880x1919!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2F7e%2F1d%2Fd0ca9b1f42d18dad34851d6e160c%2F559212.jpg"
                alt="Featured Car 1"
            />
            <div class="card-content">
                <div class="card-title">Luxury Sedan</div>
                <div class="card-desc">
                    A sleek and modern sedan designed for comfort and performance.
                </div>
            </div>
        </div>
        <div class="small-card">
            <img
                src="https://hips.hearstapps.com/hmg-prod/images/10best-2025-subaru-brz-114-674dd631a6375.jpg?crop=0.490xw:0.580xh;0.219xw,0.313xh&resize=980:*"
                alt="Featured Car 2"
            />
            <div class="card-content">
                <div class="card-title">Sports Coupe</div>
                <div class="card-desc">
                    Experience the thrill of driving with this powerful sports coupe.
                </div>
            </div>
        </div>
        <div class="small-card">
            <img
                src="https://car-images.bauersecure.com/wp-images/4020/best-electric-suvs-kia-ev9-front-blue.jpg"
                alt="Featured Car 3"
            />
            <div class="card-content">
                <div class="card-title">Electric SUV</div>
                <div class="card-desc">
                    Eco-friendly and spacious, perfect for family adventures.
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>
        
    </style>
}